.styling{
   padding: 4px;
   transition: 500ms;
}


.edit{
   border: 1px solid gray
}
.edit:hover{
   border: 3px solid rgba(255, 166, 0, 0.76);
}
.edit:hover .styling{
 
  background-color: rgb(58, 7, 87);
   color: rgb(250, 250, 250);
   transform: scaleX(1.0);
}


